body {
  font-family: "Playfair Display", serif;
  margin: 0;
  padding: 0;
  background-color: #eae2b7;
  background-blend-mode: color-burn;
  color: #003049;
  font-size: large;
}

h1 {
  font-family: "Raleway", sans-serif;
  color: #003049;
  font-weight: bold;
  text-align: center;
}

h2 {
  color: #003049;
  text-align: center;
  text-decoration: underline;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

h3 {
  font-family: "Raleway", sans-serif;
  color: #003049;
  font-weight: bold;
}

header {
  background-color: #003049;
  /* color: #d62828; */
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  height: 80px;
  transition: all 0.3s ease-in-out;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
}

header h1 {
  color: #d62828;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.watcher {
  height: 5px;
  background-color: #f77f00;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  scale: 0 1;
  transform-origin: left;
  animation: zvetsovani linear;
  animation-timeline: scroll();
}

@keyframes zvetsovani {
  to {
    scale: 1 1;
  }
}

section.about {
  padding-top: 170px;
}

.about-container {
  background-color: #efba6e;
  border-radius: 8px;
  display: flex;
  align-items: flex-start; /* zarovnání na začátek pro udržení stejné výšky */
  gap: 30px; /* mezera mezi obrázkem a textem */
  padding-bottom: 40px;
}

.profile-img {
 padding: 15px;
  width: 35%;
  height: 35%;
  object-fit: cover; /* aby se obrázek přizpůsobil bez deformace */
  border-radius: 10px; /* zaoblení rohů obrázku, volitelné */
}

.text-content {
  max-width: 2500px; /* maximální šířka pro textovou část */
  text-align: left;
}

button {
  margin-top: 20px;
  display: inline-block;
}

:root {
  --violet: #d62828;
  --white: #ffeedb;

  --kruh: 3rem;
  --ikona: 2rem;

  --polovina-kruhu: calc(var(--kruh) / 2);
  --polovina-ikony: calc(var(--ikona) / 2);

  --transition-delka: 0.45s;
  --transition-easing: ease;
}

button {
  position: relative;
  height: var(--kruh);
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
}
.kruh {
  position: absolute;
  background-color: var(--violet);
  width: var(--kruh);
  height: var(--kruh);
  left: 0;
  top: 0;
  border-radius: var(--kruh);
  transition: width var(--transition-delka) var(--transition-easing);
}

.kruh svg {
  position: absolute;
  left: calc(var(--polovina-kruhu) - var(--polovina-ikony));
  top: calc(var(--polovina-kruhu) - var(--polovina-ikony));
  width: var(--ikona);
  height: var(--ikona);
  margin-left: -0.25rem;
  transition: margin var(--transition-delka) var(--transition-easing);
}

.kruh path {
  fill: var(--white);
}

.text {
  position: relative;
  color: #003049;
  padding-left: var(--kruh);
  padding-right: var(--ikona);
  margin-left: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.025rem;
  vertical-align: -webkit-baseline-middle;

  transition: color var(--transition-delka) var(--transition-easing);
}

.kruh .linka {
  opacity: 0;
  transition: opacity var(--transition-delka) var(--transition-easing);
}

button:hover .kruh {
  width: 100%;
}

button:hover .text {
  color: var(--white);
}

button:hover svg {
  margin-left: 1rem;
}

button:hover .linka {
  opacity: 1;
}

.contact {
  background-color: #ffeedb;
}
.ikonove-tlacitko {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: inline-block;
  transition: transform 0.2s ease;
}

.ikonka {
  width: 2rem;
  height: 2rem;
  fill: currentColor;
  transition: fill 0.2s ease;
}

.ikonove-tlacitko:active {
  transform: scale(0.95);
}
.ikonove-tlacitko:hover {
  animation: pulse 0.5s ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
nav a {
  text-decoration: none;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

section {
  padding: 50px;
  text-align: center;
}

section.process {
  padding-top: 200px;
}

/* Kontejner pro celý proces */
.process {
  text-align: center;
  padding: 3rem 2rem;
}
span.bold {
  font-weight: bold;
  text-decoration: underline;
}

.process h2 {
  margin-bottom: 2rem;
}
form.process {
  background-color: #ffecd6;

  padding: 20px;
  margin: 20px auto;
  animation: objeveni-se linear forwards;
  animation-timeline: view(5vh 20vh);
  width: 100%;
  scale: 0.9;
  border-radius: 8px;
  max-width: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.process-grid {
  display: grid;
  grid-template-columns: 1fr; /* Jeden sloupec pro všechny položky */
  gap: 20px;
  justify-items: flex-start; /* Zarovná všechny položky k levému okraji */
}

.process-container {
  display: grid;
  grid-template-columns: 1fr; /* Jeden sloupec pro všechny položky */
  gap: 20px;
  align-items: start;
  margin-left: 0;
}

.process-item {
  text-align: left;
}
.icon-text {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 10px;
}

/* Styl pro ikonu */
.icon {
  width: 60px; /* Velikost ikony */
  height: auto; /* Zachování poměru stran */
  margin-bottom: 10px; /* Mezera mezi ikonou a textem */
  transition: transform 0.3s ease; /* Přechod pro efekt zvětšení */
}

/* Odsazení pro liché ikony */
.process-item:nth-child(odd) {
  margin-left: 50px;
}

/* Odsazení pro sudé ikony */
.process-item:nth-child(even) {
  margin-left: 200px;
}

/* Styl pro text */
.process-item p {
  font-size: 16px;
  color: #003049;
  margin: 0; /* Odstranění defaultních marginů */
}

/* Efekt při najetí myší */
.process-item:hover .icon {
  transform: scale(1.2); /* Zvětšení ikony při najetí */
}

.process-item:hover p {
  font-weight: bold; /* Zvýraznění textu při najetí */
}

section.portfolio {
  padding-top: 200px;
}

.portfolio-grid {
  background-color: #ffeedb;
  display: flex;
  flex-direction: column;
  max-width: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* grid-template-columns: repeat(2, 1fr); */
  gap: 20px;
  align-items: center;
  border-radius: 8px;
}
.portfolio-item {
  background-color: #ffeedb;
  width: 90%;
  max-width: auto;
  /* height: 200px; */
  border-radius: 10px;
  padding: 20px;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  text-align: center;
}

.portfolio-item img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 5px;
}

form {
  padding: 20px;
  margin: 20px auto;

  animation: objeveni-se linear forwards;
  animation-timeline: view(5vh 20vh);
  width: 100%;
  scale: 0.9;
  opacity: 0.6;
  border-radius: 8px;
  /* max-width: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@keyframes objeveni-se {
  0% {
    scale: 0.8;
    opacity: 0.6;
  }

  100% {
    scale: 1;
    opacity: 1;
  }
}
section.id.contact {
  padding-top: 200px;
}

form.napis {
  background-color: #e4aa8c;
  opacity: 30%;
  padding: 20px;
  margin: 20px auto;
  border-radius: 8px;
  max-width: 800px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input,
textarea {
  border: 1px solid #ffeedb;
  border-radius: 5px;
  padding: 8px;
  font-size: 16px;
  width: calc(100% - 16px);
  box-sizing: border-box;
}

textarea {
  height: 100px;
}
button.submit {
  background-color: #003049;
  color: #ffeedb;
  border-radius: 5px;
  font-size: larger;
  font-weight: 200;
  border: none;
  width: 300px;
  height: auto;
  padding: 10px 15px;
  text-align: center;
}

button.submit:hover {
  background-color: #d62828;
  cursor: pointer;
  color: #ffeedb;
}

.spacer {
  height: 150px; /* Výška mezery */
}

footer {
  position: relative;
  background-color: #fcbf49;
  color: #003049;
  text-align: center;
  padding: 25px;
}

/* Kontejner pro grafiku na levé straně */
/* Levá grafika */
.graphic-left {
  position: absolute;
  bottom: 100%;
  left: 0;
  display: flex;
  align-items: flex-end;
  gap: 5px;
  padding-left: 10px; /* Malý odsazení od kraje */
  z-index: 2; /* Aby se nepřekryla obsahem footeru */
}

/* Pravá grafika */
.graphic-right {
  position: absolute;
  bottom: 100%;
  right: 0;
  display: flex;
  align-items: flex-end;
  gap: 5px;
  padding-right: 10px;
  z-index: 2;
}

/* Styly pro jednotlivé sloupce */
.bar {
  width: 30px;
  border-radius: 20px 20px 0 0; /* Zaoblený jen horní okraj */
}

/* Barvy a výšky */

.lightblue {
  height: 80px;
  background-color: #009aeb;
}

.darkblue {
  height: 110px;
  background-color: #003049;
}

.yellow {
  height: 140px;
  background-color: #fcbf49;
}

.orange {
  height: 170px;
  background-color: #f77f00;
}

.red {
  height: 200px;
  background-color: #d62828;
}
.social-icons img {
  width: 30px;
  margin: 0 10px;
}

.social-icons {
  display: flex;
  justify-content: center; /* Zarovnání do středu stránky */
  align-items: center; /* Vertikální zarovnání */
  gap: 10px; /* Mezera mezi ikonami */
}

.social-icons a,
.social-icons div {
  display: flex;
  align-items: center; /* Zarovná ikony a text vertikálně */
  gap: 8px; /* Mezera mezi ikonou a textem */
  position: relative;
}

.social-icons div span {
  position: relative;
  top: -3px; /* Posune text lehce nahoru */
}

.social-icons img {
  width: 30px;
}

.social-icons img.hover-effect {
  transition: transform 0.3s ease;
}

.social-icons img.hover-effect:hover {
  transform: scale(1.2);
}
